.wrapper {
  position: fixed;
  z-index: 200;
  top: 50%;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0 10px;
  gap: calc(100% - 100px);
}
.btn {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 10px;
  background: #444;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  background: #000;
}
.btnDisabled {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #222;
  border-radius: 10px;
  background: #777;
  cursor: no-drop;
}
.btn,
.btnDisabled {
  position: relative;
  overflow: hidden;
}
.btn a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.btn:nth-of-type(1),
.btnDisabled:nth-of-type(1) {
  transform: scaleX(-1);
}
h2.paramType {
  display: none;
}
@media screen and (max-width: 640px) {
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;

    /* gap: calc(100% - 100px); */

    gap: 0;
  }
  h2.paramType {
    font-size: 30px;
    font-weight: 700;
    display: block;
  }
}
