.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100px;
  height: 40px;
  padding: 10px;
  transition: all 300ms ease;
  opacity: 0.5;
  color: #fff;
  border-radius: 20px;
  background-color: #333;
  font-size: 15px;
}
.btn:hover {
  opacity: 1;
}

.NavBtn {
  /* position: fixed;
  top: 155px;
  right: 20px; */
}
