.loadingComponent {
  align-items: center;
  background: hsl(0deg 0% 0% / 50%);
  display: flex;
  height: calc(100vh);
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 140;
}
