.itemsCollection {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
  padding: 0 5%;
  gap: 20px;
}
.contactItem {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  transition: 300ms all ease-in-out;
  opacity: 0.5;
}
.contactItem:hover {
  opacity: 1;
}

.contactItem:nth-of-type(1) > a > svg {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.contactItem:nth-of-type(2) > a > svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  transform: translate(-3px, 8px);
}

@media screen and (max-width: 683px) {
  .contactItem {
    font-size: 30px;
  }
  .contactItem:nth-of-type(1) > a > svg {
    width: 20px;
    height: 20px;
  }
  .contactItem:nth-of-type(2) > a > svg {
    width: 25px;
    height: 25px;
    transform: translate(-3px, 4px);
  }
}
@media screen and (max-width: 425px) {
  .contactItem {
    font-size: 20px;
  }
  .contactItem:nth-of-type(1) > a > svg {
    width: 15px;
    height: 15px;
    margin-right: 2px;
  }
  .contactItem:nth-of-type(2) > a > svg {
    width: 20px;
    height: 20px;
    margin-right: 0;
    transform: translate(-3px, 4px);
  }
}
