.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.wrapper_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.link {
  font-size: 30px;
  width: auto;
  transition: all 300ms ease;
}
.link:hover {
  color: #fff;
  background-color: #999;
}

.btnWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
