.datawrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  gap: 10px;
  padding-top: 10px;
}

.inputwrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.inputwrapper input {
  padding: 0 10px;
}
.inputwrapper input,
.datawrapper button {
  font-size: 25px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.559);
  border-radius: 10px;
}

.postimageswrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  gap: 10px;
}
.postimageswrapper input {
  display: none;
}

.datawrapper button {
  justify-content: center;
  transition: all 300ms ease-in-out;
  color: white;
  background-color: rgba(0, 0, 0, 0.76);
}
.datawrapper button:hover {
  background-color: rgba(0, 0, 0);
}

.imageswrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.imageswrapper__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.76);
  border-radius: 5px;
}
.imageswrapper__item img {
  width: 100%;
}
