.popupWrapper {
  position: fixed;
  z-index: 100;
  top: 100px;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100vw);
  height: calc(100% - 100px);
  background-color: rgba(255, 255, 255);
  gap: 10%;
}

.li {
  font-size: 30px;
  transition: all 300ms ease-in-out;
  text-transform: uppercase;
  color: #888;
}

.li:hover {
  cursor: pointer;
  color: #000;
}
