.popupWrapper {
  position: fixed;
  top: 100px;
  left: 0;
  display: grid;
  width: 300px;
  height: calc(100% - 100px);
  background-color: rgba(0, 0, 0, 0.2);
  grid-template-rows: 1fr 1fr 1fr;
  z-index: 100;
  /* grid-template-rows: 1fr 1fr; */
}

.li {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 100ms ease-in-out;
  color: white;
}

.li:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
