@font-face {
  font-family: "NeueHaasDisplayRoman";
  src: url("/fonts/NeueHaasDisplayRoman.woff");
}
@font-face {
  font-family: "NeueHaasDisplayThin";
  src: url("/fonts/NeueHaasDisplayThin.woff");
}
