@import "./fonts.css";
* {
  font-family: "NeueHaasDisplayThin", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: black;
}

body {
  height: 100vh;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 100px);
  padding-top: 100px;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: calc(100vh - 100px);
  padding: 0 5%;
  background-color: #eee;
}
.children_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  box-sizing: border-box;
  height: calc(100vh - 100px);
}

/*  antd */
.ant-spin-dot-item {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 1);
}

#custom-cursor {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Поверх всех элементов */
}
