@import "./fonts.css";
* {
  font-family: "NeueHaasDisplayThin", sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: black;
}

body {
  height: 100vh;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}
.homeContainer {
  justify-content: center;

  box-sizing: border-box;
  padding: 0 10%;

  background-color: #eee;

  gap: 10px;
}
.children_wrapper {
  /* height: 100%; */
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  padding: 20vh 0 60vh;
}

/*  antd */
.ant-spin-dot-item {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 1);
}
