.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.params {
  font-family: "NeueHaasDisplayRoman", sans-serif;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  padding: 20px 0;
  gap: 10px;
}

.paramType {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}
.paramValue {
  text-transform: lowercase;
}
h2.paramType {
  font-size: inherit;
  font-weight: 700;
  text-wrap: nowrap;
}
/* test */

.titleSection {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 100px);
  margin-bottom: 10px;
  overflow: hidden;
}

.titleSection img {
  object-fit: cover;
}

.titleSection h2 {
  font-size: 20vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

/*  */
.VerticalSplitScreen {
  position: relative;
  z-index: 10;

  /* top: 100px; */
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  cursor: none;
}

.imgContainer {
  display: flex;
  overflow: hidden;
  width: 100%;
  /* height: calc(100vh - 170px); */
  height: 100%;
  gap: 5px;
}
.imgWrapper {
  flex-shrink: 0;
  width: 50%;
  height: 100%;
  display: flex;
}

.imgWrapper:nth-of-type(odd) {
  justify-content: flex-end;
}

.imgWrapper img {
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1074px) {
  .params {
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  .VerticalSplitScreen {
    cursor: default;
    height: auto;
  }
  .params {
    width: 100%;
  }
  /* h2.paramType {
    font-size: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  } */
  .paramType:not(h2.paramType) {
    margin: 0 5px;
  }
  .imgContainer {
    overflow: visible;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .imgWrapper {
    width: 80%;
  }
  .imgWrapper img {
    width: 100%;
  }
}
@media screen and (max-width: 585px) {
  .titleSection img {
    height: 100%;
  }
}
