.header,
.nav,
.ul {
  display: flex;
  justify-content: center;
}

.header,
.ul {
  width: 100%;
}
.header {
  position: fixed;
  z-index: 15;
  overflow: hidden;
  align-items: center;
  height: 100px;
  border-bottom: 1px #aaa solid;
  background-color: #fff;
}

.logo {
  font-family: "NeueHaasDisplayThin";
  font-size: 30px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  letter-spacing: "8px";
}
.logo svg {
  width: 200px;

  transition: all ease 300ms;
  image-rendering: optimizeQuality;
}
.logo svg:hover {
  scale: 1.05;
}

@media screen and (max-width: 646px) {
  .header img {
    width: 250px;
    height: 83px;
    object-fit: cover;
  }
}
@media screen and (max-width: 560px) {
  .header img {
    width: 230px;
    height: 76px;
    object-fit: cover;
  }
}

@media screen and (max-width: 530px) {
  .header img {
    width: 200px;
    height: 66px;
    object-fit: cover;
  }
}
@media screen and (max-width: 350px) {
  .header img {
    width: 150px;
    height: 50px;
    object-fit: cover;
  }
}
