.header,
.nav,
.ul {
  display: flex;
  justify-content: center;
}

.header,
.ul {
  width: 100%;
}
.header {
  position: fixed;
  /* position: absolute;
  left: 0;
  top: 0;
  */
  z-index: 5;
  overflow-y: hidden;
  align-items: center;
  height: 100px;
  border-bottom: 1px #aaa solid;
  background-color: #fff;
  overflow: hidden;
}

.header a {
  font-family: "NeueHaasDisplayThin";
  font-size: 30px;
  font-weight: lighter;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  letter-spacing: "8px";
  transition: all ease 300ms;
}
.header a:hover {
  scale: 1.02;
}

.nav {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 430px) {
  .header img {
    width: 200px;
    height: 66px;
    object-fit: cover;
  }
}
@media screen and (max-width: 350px) {
  .header img {
    width: 150px;
    height: 50px;
    object-fit: cover;
  }
}
