.items {
  font-size: 22px;

  display: grid;
  padding: 10px;
  padding: 10px 10% 0;
  grid-template-columns: 1fr;
  gap: 10px;
}
.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 300px; */

  height: 50px;
  padding: 10px;
  background-color: #eee;
}

.functions {
  display: flex;
  gap: 15px;
}

.functions > * {
  cursor: pointer;
  padding: 5px 10px;
}
.functions .disabled {
  background-color: #fff;
  cursor: not-allowed;
  color: #ddd;
}

/* paramsEditor */

.ParamsEditorLayout {
  /* width: 50%;
  height: 50%;
  margin: 0 auto; */
  position: fixed;
  top: 100px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: rgba(17, 17, 17, 0.8);
}

.ParamsEditorWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 5px;
  padding: 30px;
  background: #eee;
  gap: 10px;
}

.ParamsEditorWrapper .item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.ParamsEditorWrapper .item input {
  border: none;
  outline: none;
}

.ParamsEditorWrapper .btn {
  padding: 5px 10px;
  width: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.ParamsEditorWrapper .btn {
  transition: all ease 300ms;
  cursor: pointer;
}
.ParamsEditorWrapper .btn.save {
  background-color: rgb(80, 209, 80);
}
.ParamsEditorWrapper .btn.cancel {
  background-color: rgb(209, 80, 80);
}
.ParamsEditorWrapper .btn.save:hover {
  background-color: rgb(72, 251, 72);
}
.ParamsEditorWrapper .btn.cancel:hover {
  background-color: rgb(251, 72, 72);
}
